{% extends 'base.html' %}
{% block content %}
    <!--질문등록-->
    <div class="container">
        <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
        <form action="{{ url_for('question.create') }}" method="post" novalidate>
            {{ form.csrf_token }}
            <!--오류표시 Start-->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items() %}
                <strong>{{ form[field].label }}</strong>
                <ul>
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            {% endif %}
            <!--오류표시 End-->
            {{ form.subject.label }}
            {{ form.subject(class="form-control") }}

            {{ form.content.label }}
            {{ form.content(class="form-control") }}
            <button type="submit" class="btn btn-primary my-3">등록하기</button>
        </form>

    </div>
{% endblock %}